@import "../../common/shared";

.nav-bar {
  padding: 1rem;
  border-bottom: $border-style;

  .header {
    font-size: 1.5rem;
    margin-left: 1rem;
    font-weight: 100;
    margin-top: .6rem;
    color: #777777;
  }

  .logo {
    height: 50px;
  }

  .version-label {
    color: #9CA1B9;
  }

  .right-menu {
    font-weight: 500;
    font-size: .8rem;
  }

  .update-link {
    color: #67cd67;
    cursor: pointer;
  }

  .danger {
    color: #e06278;
  }

  .fa.fa-exclamation-circle {
    color: #d22323;
    margin-right: .5rem;
    line-height: 1;
  }

  .troubleshooting-list {
    margin-top: 0;
    margin-bottom: 0;
    list-style: circle;  
  }

  .list-header {
    font-size: 1.25rem;
    margin-bottom: .25rem;
  }
  
}
